:root {
  // COLORS
  --clr-blue-500: 225 73.1% 46.7%;
  --clr-blue-600: 213.67, 92.78%, 61.96%;
  --clr-blue-800: 225 100% 75%;
  --clr-white-200: 241, 241, 241;
  --clr-green-500: 87, 100%, 68%;
  --clr-red-500: 0, 100%, 68%;

  // FONTS
  --fs-XL: 1.375rem;
  --fs-L: calc(18rem / 16);
  --fs-M: calc(16.2rem / 16);
  --fs-S: calc(14rem / 16);
  --clr-text: rgb(var(--clr-white-200));
}
