@use './mixins' as *;

html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 1rem;
  background-color: hsla(0, 0%, 0%);
}

a {
  color: hsl(var(--clr-text));
}

// Utilities
.title {
  font-size: var(--fs-L);
  font-weight: 600;
  color: hsl(213.67, 92.78%, 61.96%);
}

.body_text {
  font-size: var(--fs-M);
  font-weight: 500;
  max-width: 60ch;

  @include small-above {
    line-height: 2;
  }
}
