html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 1rem;
}

a {
  color: hsl(var(--clr-text));
}

// Utilities
.title {
  font-size: var(--fs-L);
  font-weight: 600;
  color: hsl(213.67, 92.78%, 61.96%);
}

.body_text {
  font-size: var(--fs-M);
  font-weight: 500;
}

//Swiper component style

// .swiper {
//   width: 100%;
// }

// .swiper * {
// }

// .swiper img {
//   width: 100%;
// }
