@use '../mixins' as *;

.header {
  @include app-width-wrapper;
  background-color: black;
  height: min-content;
  padding-right: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
s .logo_wrapper {
  width: 80px;
}

.section_left {
  background-color: hsla(var(--clr-blue-500));
  padding-left: 1rem;
  padding-right: 0.5rem;
  position: relative;
  z-index: 10;

  &::after {
    content: '';
    position: absolute;
    background-color: inherit;
    width: 50%;
    height: 200%;
    right: 5%;
    bottom: 0;
    transform: rotate(30deg);
    transform-origin: bottom left;
    z-index: -10;
  }
}

.logo {
  transform: translateX(10px);
}

.menu_wrapper {
  width: 26px;
}

.section_right {
}
