.menu_button {
  width: 26px;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  position: relative;
  z-index: 100;
}

.list_wrapper {
  position: fixed;
  inset: 0;
  background-color: hsla(236, 45%, 20%, 0.8);
  backdrop-filter: blur(5px);
  z-index: 10;
  display: grid;
  place-items: center;
  transform: translateX(100%);
  transition: transform 300ms ease-in-out;
}

.nav_list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 100%;
}

.link {
  padding-left: 10%;
  text-align: start;
  color: inherit;
  text-decoration: none;
  display: block;
  font-size: var(--fs-XL);
  font-weight: 600;

  &:hover {
    color: rgba(var(--clr-white-200), 0.5);
  }
}

.list_wrapper__active {
  @extend .list_wrapper;
  transform: translateX(0%);
}
