.wrapper {
  position: fixed;
  inset: 0;
  background-color: hsla(0, 0%, 0%, 0.8);
  z-index: 1000;
  display: grid;
  place-items: center;
}

.card {
  width: min(80%, 600px);
  background-color: white;
  color: black;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  padding-inline: 1rem;
  position: relative;
  border-radius: 12px;
}

.close_btn {
  margin: 0;
  padding: 0;
  border: none;
  width: 36px;
  aspect-ratio: 1;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-100%);

  & img {
    width: 100%;
  }
}

.attention_logo {
  margin-inline: auto;
  margin-bottom: 1rem;
}

.title {
  text-align: center;
}

.vacation_img {
  width: 100%;

  & img {
    width: 100%;
    aspect-ratio: 1;
    margin: 0;
    object-fit: cover;
  }
}

.vacations_text {
  text-align: center;
  margin-bottom: 0.5rem;
}
