@use '../mixins' as *;

.page {
  height: 100%;

  @include small-above {
    width: fit-content;
    margin-inline: auto;
    padding-top: 8rem;
    padding-bottom: 3rem;
  }
}

.top_section {
  @include wrapper;
  padding-top: 5rem;
  height: 100%;
  background-image: linear-gradient(hsla(240, 15%, 15%, 0.7)),
    url('/images/tatamoto_self.jpg');

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.text:last-of-type {
  margin-bottom: 0.5rem;
}

.accent {
  color: white;
  font-weight: 600;
}

.scooter_img {
  margin-top: 0.5rem;
  border-radius: 8px;
}

.footer {
  margin-top: 2rem;
}
