@use '../mixins' as *;

.wrapper {
  @include wrapper;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.35rem;
}

.wrapper h1,
.wrapper h2 {
}

.text:last-of-type {
  margin-bottom: 0.5rem;
}

.accent {
  font-style: italic;
}

.scooter_img {
  margin-top: 0.5rem;
  border-radius: 8px;
}

.footer {
  margin-top: 2rem;
}
