@use '../mixins' as *;
@use '../abstractions' as *;

.page {
  height: 100%;

  @include small-above {
    width: fit-content;
    margin-inline: auto;
  }
}

.top_section {
  @include wrapper;
  padding-top: 5rem;
  height: 60dvh;
  background-image: linear-gradient(hsla(240, 15%, 15%, 0.7)),
    url('/images/tatamoto_self.jpg');

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content_section {
  @include wrapper;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  & h2 {
    margin-bottom: 0.25rem;
  }

  & p {
    margin-bottom: 0.5rem;
  }
}

.content_section:nth-of-type(2) {
  background-color: hsla(var(--clr-grey-800));
  gap: 1rem;
  position: relative;
  z-index: 10;

  &::before {
    position: absolute;
    content: '';
    background-image: linear-gradient(hsla(0, 0%, 10%, 0.7)),
      url('/images/tatamoto_self-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    width: 60%;
    bottom: 0;
    top: -40px;
    z-index: -10;
    right: 0;
    transform: scaleX(-1);
  }
}

.title_services {
  font-size: var(--fs-L);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list_item {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.reviews {
  @include wrapper;
  background-color: var(--clr-text);
  height: 300px;
  color: hsl(var(--clr-grey-800));
}

.partners {
  @include wrapper;
}

.partners_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.partners_list li {
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
  }
}

.section_title {
  font-size: var(--fs-L);
  text-align: center;
}

.hyper_moto {
  background-color: white;
  width: fit-content;
  padding: 6px;
  margin-bottom: 3rem;
}

.guest_house {
  background-color: white;
  color: black;
  width: fit-content;
  padding-inline: 4px;
  padding-block: 2px;
  & a {
    text-decoration: none;
  }

  .logo_text {
    display: inline-block;
    text-align: center;
    font-family: var(--font-dancing-script);
    font-size: 20px;
  }
}
// etc
.text:last-of-type {
  margin-bottom: 0.5rem;
}

.accent {
  color: white;
  font-weight: 600;
}

.scooter_img {
  margin-top: 0.5rem;
  border-radius: 8px;
}

.footer {
  margin-top: 2rem;
}
