@use '../mixins' as *;

.app {
  height: 100dvh;
  display: grid;
  place-content: center;
  background-image: linear-gradient(hsla(240, 15%, 15%, 0.8)),
    url('/images/muhely-1.jpeg');

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include small-above {
  }
}

.title {
  font-size: var(--fs-S);
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 2;
  font-weight: 400;
  text-align: center;

  & span {
    display: block;
  }
}

.logo_wrapper {
  width: 200px;
  aspect-ratio: 1;
  height: min-content;
  transform: translateX(15%);

  & img {
    width: 100%;
    height: 100%;
  }

  @include small-above {
    width: 350px;
  }
}
