@use '../mixins' as *;

.wrapper {
  @include wrapper;
  padding-top: 3rem;
  text-align: center;
  display: grid;
  gap: 2rem;
}

.grid_cont {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 15vw));
  justify-content: center;
  gap: 5vw;
}

.section_title {
  margin-bottom: 1rem;
}

.section {
  background-color: hsla(0, 0%, 0%, 0.7);
  padding-block: 1rem;
  padding-bottom: 2rem;
  border-radius: 10px;
}

.modal_wrapper {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  background-color: hsla(0, 0%, 0%, 0.85);
  display: grid;
  place-items: center;
}

.modal_card {
  width: 85%;
  max-width: 650px;
  aspect-ratio: 1;
  background-color: wheat;
}
